<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mapper.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myke.mybatis.mapper.PersonMapper">

    <!-- 对这个语句开启二级缓存 -->
    <cache/>

    <resultMap id="BaseResultMap" type="com.myke.mybatis.model.Person">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, age, address
    </sql>

    <!-- 对这个语句useCache="true"默认是true，可以不写 -->
    <select id="findAllOne" resultMap="BaseResultMap" useCache="true">
        select
        <include refid="Base_Column_List"/>
        from person
    </select>

    <select id="findAllTwo" resultMap="BaseResultMap" useCache="true">
        select
        <include refid="Base_Column_List"/>
        from person
    </select>

    <!-- 对这个语句禁用二级缓存 -->
    <select id="findByPage" resultMap="BaseResultMap" useCache="false">
        select
        <include refid="Base_Column_List"/>
        from person
    </select>

    <select id="exeSql" parameterType="String" resultMap="java.util.Map">
        ${sql}
    </select>
</mapper>